{
 :paths ["src" "tests"]

 :deps {
        org.clojure/clojure {:mvn/version "1.10.1"}
        shams/priority-queue {:mvn/version "0.1.2"}
        rhizome {:mvn/version "0.2.9"}}

 :aliases {
           :deps {:extra-deps {org.clojure/tools.deps.alpha {:mvn/version "0.9.840"}}}
           :test {:extra-paths ["test"]}
           }

 :mvn/repos {
             "central" {:url "https://repo1.maven.org/maven2/"}
             "clojars" {:url "https://repo.clojars.org/"}
             }
 }
